# RELATÓRIO 1

## iMPORTANDO DADOS

In [2]:
# TESTE
import pandas as pd
dados = pd.read_csv('C:\\Users\\vinis\\Desktop\\Programação\\Python_Data_Science\\aluguel.csv', sep=';')
informacoes = pd.DataFrame(dados.dtypes, columns=['Tipos de variaveis'])
informacoes.columns.name = 'VAriaveis'

In [32]:
dataset = pd.read_csv('C:\\Users\\vinis\\Desktop\\dados.csv', sep=';')
# sorted(dataset['Anos de Estudo'].unique())
# sorted(dataset['UF'].unique())
# dataset['Sexo'].value_counts()
uf =pd.DataFrame(dataset['Sexo'].value_counts())
uf.columns.name = 'Index'
uf

Index   Sexo
0      53250
1      23590

In [44]:
dataset = pd.read_csv('C:\\Users\\vinis\\Desktop\\dados.csv', sep=';')
#'Frequencia" possui o código para quantificar a frequência com que cada sexo aparece. 'Percentual' possui o código para transformar a frequência em porcentagem devido ao trecho '(normalize = True) * 100)
frequencia = dataset['Sexo'].value_counts()
percentual = dataset['Sexo'].value_counts(normalize = True) * 100
#Criei um DataFrame em cima de um dicionário contendo as duas variáveis criadas a cima incluindo os códigos de frequencia e percentual.
dist_freq = pd.DataFrame({'Frequencia': frequencia, 'Porcentagem (%)': percentual})
#Alterei o nome do index utilizando o dist_freq.rename
dist_freq.rename(index = {0: 'Masculino', 1: 'Feminino'}, inplace = True)
#Alterei o nome da COLUNA do index. Caso quisesse alterar a linha, deve-se trocar o 'columns' no método axis para 'rows' 
dist_freq.rename_axis('Sexo', axis = 'columns', inplace = True)
dist_freq

Sexo       Frequencia  Porcentagem (%)
Masculino       53250        69.299844
Feminino        23590        30.700156

CRUZANDO TABELAS

In [65]:
dataset = pd.read_csv('C:\\Users\\vinis\\Desktop\\dados.csv', sep=';')
sexo = { 
    0: 'Masculino',
    1: 'Feminino'}
cor = {
    0: 'Indigena',
    2: 'Branca',
    4: 'Preta',
    6: 'Amarela',
    8: 'Parda',
    9: 'Sem declaracao'
}
#Cruzando os dados da tabela. Primeiro sempre as linhas e em segundo as colunas
frequencia = pd.crosstab(dataset.Sexo, dataset.Cor)
frequencia.rename(index = sexo, inplace = True )
#Alterando o nome das colunas. LEMBRANDO QUE SEMPRE PRECISO DECLARAR QUAIS OS VALORES E NOMES DAS COLUNAS E LINHAS ANTES DE FAZER O CRUZAMENTO. DE PREFERENCIA EM UM DICIONARIO.
frequencia.rename(columns = cor, inplace = True )
#Mesma coisa, porém com o 'normalize' transformando os dados em percentual
percentual = pd.crosstab(dataset.Sexo, dataset.Cor, normalize = True) * 100
percentual.rename(index = sexo, inplace = True )
percentual.rename(columns = cor, inplace = True )
percentual

Cor        Indigena     Branca     Preta   Amarela      Parda
Sexo
Masculino  0.333160  28.883394  7.160333  0.305830  32.617126
Feminino   0.131442  12.520822  3.759761  0.152264  14.135867

In [66]:
dataset = pd.read_csv('C:\\Users\\vinis\\Desktop\\dados.csv', sep=';')
sexo = { 
    0: 'Masculino',
    1: 'Feminino'}
cor = {
    0: 'Indigena',
    2: 'Branca',
    4: 'Preta',
    6: 'Amarela',
    8: 'Parda',
    9: 'Sem declaracao'
}
#NESSE TRECHO VOU COMPARAR DUAS COLUNAS E TIRAR A MÉDIA DE UMA TERCEIRA COLUNA SOBRE ESSAS DUAS. NESSE CASO VAMOS ANALISAR A RENDA DE CADA SEXO COM BASE EM SUA COR. O método AGGFUNC agrega as tabelas usando uma operação, que nesse caso foi 'mean ' = média aritmética. O parâmetro 'values = dataset.Renda' foi utilizado para que possamos agregar a coluna Renda como um comparativo dentro da tabela.
frequencia = pd.crosstab(dataset.Sexo, dataset.Cor, aggfunc = 'mean', values = dataset.Renda)
frequencia.rename(index = sexo, inplace = True )
frequencia.rename(columns = cor, inplace = True )
frequencia

Cor           Indigena       Branca        Preta      Amarela        Parda
Sexo
Masculino  1081.710938  2925.744435  1603.861687  4758.251064  1659.577425
Feminino   2464.386139  2109.866750  1134.596400  3027.341880  1176.758516